<ion-content padding style="background: #34495e;">
   
<div class="text-center">
    <button class="b wh btn btn-primary button" (click)="createProject();">Create a new project</button>
    <button class="b wh btn btn-danger button">Start from template</button>
    <!-- <button class="b wh btn btn-info button" (click)="savePr();">Save</button> -->
</div>

<hr style="background: white;">

<div class="text-center">
    <h2 class="b wh">All projects</h2>
    <h2 *ngIf="allProjects == null" class="b wh">You have no projects yet</h2>
    <button *ngFor="let project of allProjects" class="b btn btn-danger width-100 project-box-danger" (click)="clearStorage();">{{ project.projectTitle }}</button>
</div>


</ion-content>