page-home {
	.home-img{
		margin-top: 10px;
	}

	.b{
		font-weight: bold;
	}
	
	.wh{
		color: white;
	}

	p{
		font-size: 20px;
	}

	.divider{
		background: white;
	}

	.margin-btn{
		padding-right: 50px;
		padding-left: 50px;
		padding-top: 10px;
		padding-bottom: 10px;


	    position: absolute;
	    top: 95%;
	    transform: translate(-50%, -50%);
	    left: 50%;
	}
}
